* {
    font-family: sans-serif;
}

 .container {
    background-color: #1F2937;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    
} 

.header {
    display: flex;
    padding: 8px; 
    align-items: center;
    justify-content: space-around;
    color: antiquewhite;
    margin-bottom: 40px;
  }

.header-logo {
    font-size: 26px;
    font-weight: 900;
    padding: 4px 32px;
    margin-right: 80px;
    color: antiquewhite;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
    list-style-type: none;   
    align-items: flex-end;
  
  }

  .hero {
    display: flex;
    color:antiquewhite;
    justify-content: space-around;
    margin-bottom: 70px;
  }

  .main-hero {
    width: 250px;
  }

  .secondary-hero {
    flex-wrap: wrap;
    width: 360px;
  }

  .hero-image {
    display: flex;
  }

  .info-area {
    background-color: antiquewhite;
  }

  .info-section {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    
  }

  .info-header {
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 10px;
  }

  .info {
    max-width: 200px;
  }
  .info-image {
    width: 150px;
    height: auto;
    border:none;
    border-radius: 9px;
    
  }

  .info-images {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 62px ;
    align-items: center;
  }

.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    background-color: #c2cbdd;
}

.quote-area {
   display: flex;
   align-items: center;
   max-width: 600px;
   margin: 5px 0;
   padding: 10px;
   box-sizing: border-box;
   border: none;   
}

/* .quote-area {
    background-color: ;
} */

.quote-text {
    width: 500px;
    font-family:cursive;
    font-size: 1.3em;

}

.author {
    /* margin-top: 30px; */
    font-weight: bold;
    text-align: right;
    margin-right: 20px;
}

.author::before {
    content: "\2014\0020";   
}

.action-section {
    margin-bottom: 0px;
    background-color: antiquewhite;
    padding: 50px;
    
}

.call-to-action {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
   
}

.call-to-action-text {
    background-color:#3882f6;
    display: flex;
    gap: 30px;
    padding: 0 80px 0 80px;
    border-radius: 6px;
    color:antiquewhite;
    justify-content: space-between;
}



.init-btn {
    height: 30px;
    padding: 0 20px 0 20px;
    border-radius: 6px;
    border-color: antiquewhite;
    background-color:#3882f6;
    color: antiquewhite;
    
}

.init-btn:hover {
    background-color: #7090bd;
    transition: 0.5s ease-out;
}

footer {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 25px 0;
    color: antiquewhite;
}
















